.background {
    height: 100%;
    background-image: url("toystory.jpeg");
    background-size: cover;
}
.blank{
    height:150px
}

.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 700;
}